* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 102.5%;
}





/* header responsive code  */
@media(max-width:998px) {
  html{
      font-size: 55%;
  }

  
}

@media(max-width:75px) {
  html {
      font-size: 45%;
  }

}

@media only screen and (max-width: 1424px) {
  header div:last-child {
    width:  31.25rem;
  }
}
@media only screen and (max-width: 1292px) {
  header .header-text h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1099px) {
  header .header-text h2 {
    font-size: 1.4rem;
  }
  header div:last-child {
    width: 25rem;
    top:  10.6rem;
  }
}
@media only screen and (max-width: 950px) {
  header {
    justify-content: center; 
    padding: 0rem 1.2rem;
  }
  header div:last-child {
    display: none;
  }
  nav {
    margin-top: 0.6rem;
    overflow-x: auto;
  }
  header div .logo {
    order: 1;
    margin-top:  3.1rem;
    width: 6.25rem;
    margin-right:  2.5rem;
  }
  .header-text {
    margin-right: 6.25rem;
    padding: 0rem 1.25rem;

  }
  nav .nav-item-active {
    background-color: #FFFFFF;
    color: #4617fe;
    padding: .3rem 1.25rem;
    border-radius: .25rem;
    min-width:  3.1rem;
    margin: 0rem 1.25rem 0rem 1.25rem;
    cursor: pointer;
  }
  
}

@media only screen and (max-width: 1292px) {
  .companies {
    justify-content: flex-start;
    gap:  2.5rem;
  }
  .companies .company-items {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1099px) {
  .companies .company-items {
    font-size: 1rem;
  }
 }
@media only screen and (max-width: 950px) {
  .companies {
    justify-content: center;
    margin-left: 0;
    width: 100%;
    gap:  1.2rem;
  }

}

@media only screen and (max-width: 925px) {
  .card:last-child::after {
    display: none;
  }
  .api {
    padding: 0rem 1.25rem;
  }
  .api .api-heading {
    font-size: 2.4rem;
  }
}



@media only screen and (max-width: 950px) {
  .blog-cards {
    gap:  2.5rem;
  }
  .blog-card {
    height: auto;
    margin-bottom: 1.25rem;
  }
  .blog-image {
    width:  6.25rem;
   }
   .blog-image img {
    width: 100%;
   }
   .blog-content {
    padding: .6rem 1.8rem 1.25rem 1.8rem;
   }
   .blog-bottom {
    left: 0rem;
    bottom: -1.25rem;
  }
  div.blog-author {
    left: 0rem;
    bottom: -2.5rem;
   }
   .blog-heading {
    padding: 0rem 1.2rem;
   }
   .blog-heading h1 {
      font-size: 2.2rem;
   }
}



@media only screen and (max-width: 1256px) {
  .faq-section .faq-content {
    position: relative;
    z-index: 2;
  }
  .faq-section .faq-image {
    opacity: .1;
    z-index: 1;
  }
 }
 @media only screen and (max-width: 925px) {
  .faq-section .faq-content h2 {
    font-size: 2rem;
    line-height:  2.5rem;
  
   }
   .faq-section {
    padding:  1.25rem 1.25rem;
   }
   .faq-section .faq-content h4 {
    font-size:  .75rem;
    padding-top:  .9rem;
   }
   .faq-section .faq-content h2 ~ h4:not(:first-of-type) {
    font-size: 1rem;
    padding-top: 2.2rem;
   }
 }

 
@media only screen and (max-width: 1047px) {
  .download-section .download-email {
    position: relative;
  }
  .download-section {
    padding: 0rem 0.6rem;
  }
  .download-section .download-email form input {
    display: block;
    padding: .9rem .6rem .9rem .6rem;
  }
  .download-section .download-email form button {
    display: none;
  }
}

body {
  background-color: #f8f8fa;
}


.blog-card-bottom-image {
  height: 4.1rem;
  width: 4rem;
  border-radius: 6.1rem;
}

header {
  background-color: rgb(11, 11, 185);
  display: flex;
  height: 70vh;
  padding: 0.5rem  .6rem;
}

nav {
  order: 2;
  margin-left: auto;
  height: 12vh;
  display: flex;
  gap: 1.8rem;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
}

nav .nav-item {
  cursor: pointer;
}

nav .nav-item-active {
  background-color: #fff;
  color: rgb(44, 44, 253);
  padding: 0.3rem .6rem;
  border-radius: .25rem;
  cursor: pointer;
}

header div .logo {
  order: 1;
  margin-top: 3.1rem;
}

header .header-text {
  position: absolute;
  margin-top: 11.1rem;
  color: #ffffff;
}

header .header-text h2 {
  font-size:  2.5rem;
  letter-spacing:  .1rem;
  margin-bottom:  .75rem;
}

header div:last-child {
  position: absolute;
  right: -0.4rem;
  width: 40rem;
  height: 31.1rem;
  top: 5.6rem;
}
header div .header-image {
  width: 100%;
}

/* companies   */

.companies {
  display: flex;
  width: 39.3rem;
  justify-content: space-between;
  margin-left: 3rem;
  margin-top: 2.1rem;
}

.companies .company-items {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Poppins";
}

/* api start  */

.api {
  margin-top:  5.6rem;
  /* max-width: 84rem; */
  margin-left: 3.4%;
  margin-right: 6%;
}

.api .api-heading {
  font-size: 2.8rem;
  font-weight: bolder;
}

.api .cards {
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  justify-content: center;
}

.api .cards .card-active {
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 2.5rem 1.25rem;
  width: 16.8rem;
  box-shadow: 0px 0px .6rem .6rem rgba(0, 0, 0, 0.4);
  color: #552bff;
}
.api .cards .card:hover {
  background-color: #fff;
  border-radius:   .6rem;
  padding: 2.5rem 1.25rem;
  width: 16.8rem;
  box-shadow: 0px 0px  .6rem .6rem rgba(0, 0, 0, 0.4);
  cursor: grab;
}

.api .cards .card {
  padding:  2.5rem 1.25rem;
}

.api .cards [class^="card"] h3 {
  margin-top: 0.8rem;
}
.api .cards [class^="card"] p {
  color: #000000;
  margin-top: 0.6rem;
  font-size: 0.8rem;
}

.card:last-child::after {
  content: ">";
  display: flex;
  background-color: rgb(31, 0, 209);
  color: #fff;
  width:  3.1rem;
  height: 3.1rem;
  border-radius: 3.1rem;
  position: absolute;
  left: 75.5rem;
  top:  5rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* blog start  */

.blog-heading {
  margin-top: 6.25rem;
  max-width: 6.3rem;
  margin-left: 4.2rem;
  margin-right: 5.2rem;
}

.blog-heading h1 {
  font-size: 2.8rem;
  margin-left: 3.8%;
}
.blog-cards {
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 1.5rem;
}
.blog-card {
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius:  4.3rem;
  border-bottom-right-radius: .6rem;
  border-bottom-left-radius: .6rem;
  border-top-right-radius:  .6rem;
  position: relative;
  box-shadow: 0 0 .6rem .3rem rgba(0, 0, 0, 0.04);
  height: 18rem;
}
.blog-image {
  display: inline-block;
}
.blog-image img {
  display: inline-block;
}
.blog-content {
  display: inline-block;
  vertical-align: top;
  padding: 1.8rem 5.6rem 0rem 3.125rem;
}
.blog-content h6 {
  color: #552bff;
  font-weight: 900;
}
.blog-content h3 {
  padding-top:  .9rem;
  font-weight: 900;
  margin-bottom:  .8rem;
}
.blog-content small {
  font-weight: bold;
}
.blog-bottom {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 3.75rem;
  left: 20rem;
  bottom: -1.25rem;
}

div.blog-author {
  position: absolute;
  bottom: -1.25rem;
  left:  24.3rem;
  bottom: .75rem;
  font-size:  .75rem;
  font-weight: 900;
}

/* faq start */

.faq-section {
  margin-top:  35.7rem;;
  padding:  0rem 5.6rem;
  background-color: rgb(255, 83, 189);
  display: flex;
  padding-top:  2.5rem;
  position: relative;
  height:  24.3rem;
}

.faq-section .faq-content h2 {
  font-size: 2.8rem;
}

.faq-section .faq-content h4 {
  font-size: .75rem;
  padding-top: .9rem;
}

.faq-section .faq-content h2 ~ h4:not(:first-of-type) {
  font-size: 1rem;
  padding-top:  2.1rem;
}

.faq-section .faq-image {
  align-self: flex-end;
  display: flex;
  position: absolute;
  right: -204px;
  height:  24.3rem;
}

.faq-section .faq-content button {
  border: none;
  padding:  0.5rem 1rem;
  margin-top: 1.25rem;
  border-radius: .25rem;
  color: #fff;
  background-color: #552bff;
}

/* download section start  */

.download-section {
  display: flex;
  padding: 0 5.6rem;
  height:  18.75rem;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.download-section .download-content span {
  font-weight: 100;
}

.download-section .download-email {
  position: absolute;
  right: 0px;
}

.download-section .download-email form input {
  outline: none;
  border: none;
  background-color: #f8f8fa;
  padding: 0.9rem 10.6rem 0.8rem 2.3rem;
  border-radius:  3.1rem;
  width:  23.1rem;
}

.download-section .download-email form input::placeholder {
  font-weight: 600;
  color: #505050;
  font-size:  .75rem;
}

.download-section .download-email form button {
  position: relative;
  right: 8.75rem;
  background-color: #552bff;
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius:  3.1rem;
}

/* footer start  */

.footer-section {
  background-color: rgb(255, 83, 189);
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 5.6rem;
  align-items: center;
  height: 12.5rem;
}

.footer-logo {
  margin-left: -2.688rem;
  cursor: pointer;
}

.footer-section .footer-left .list {
  list-style-type: none;
  display: flex;
  gap: 1.875rem;
  color: #fff;
  font-weight: lighter;
  font-size: 0.8rem;
  padding-top: 1.25rem;
  margin-left: -2.5rem;
}

.footer-right:first-child {
  text-align: right;
  margin-bottom:  1.25rem;
}

.footer-right .footer-logos:not(:last-child) {
  margin-right:  0.9rem;
}

.footer-right .logos-list {
  list-style-type: none;
  display: flex;
  gap:  1.25rem;
  color: #fff;
  font-weight:  12.5rem;
  font-size: medium;
  cursor: pointer;
}
